@use "../../sass/variables" as *;
@use "../../sass/mixins" as *;
@use "../../sass/custom" as *;

$titleSize: calc(2.8vw + 2.8vh);

.Title {
	font-size: calc(2.8vw + 2.8vh);
	font-weight: 800;
	margin-bottom: var(--pagePadding);

	&_heading {
		color: var(--section-title);

		& > b {
			color: var(--accent);
			font-size: calc($titleSize + 2rem);
			// @include bounce();
		}
	}
}
