@use "../../sass/variables" as *;
@use "../../sass/mixins" as *;
@use "../../sass/custom" as *;

.ContactMeSection {
	@include fill_container;
	@include flex_row(center, center);
	margin-bottom: 4rem;
}

.SuccessMessage {
	width: 100%;
	min-height: 70dvh;
	@include colCenter();

	&_main {
		width: 100%;
		@include rowCenter();
		gap: 0 0.5rem;
	}

	&_icon {
		width: 3.5rem;
		height: 3.5rem;
		fill: var(--alt-accent);
	}

	&_title {
		font-size: 3.5rem;
		// color: var(--blueGrey200);
		color: var(--alt-accent);
	}

	&_subtitle {
		font-size: 1.8rem;
		color: var(--blueGrey300);
	}
}
