@use "../../sass/variables" as *;
@use "../../sass/mixins" as *;
@use "../../sass/custom" as *;

$pathSize: 0.3rem;

.TimelinePath {
	width: 0.5rem;
	height: 100%;
	justify-self: center;

	&_path {
		height: 1px;
		width: $pathSize;
		height: 100%;
		background-color: var(--timeline-path);
		border-radius: 5rem;
	}
}
