$borderColor: var(--border-color);
$border: 1px solid $borderColor;
$borderLight: 1px solid var(--blueGrey800);
$borderLightColor: var(--blueGrey800);
$background: var(--bg-body);
$foreground: var(--bg-foreground);
$accent: var(--accent);
