@use "../../sass/variables" as *;
@use "../../sass/mixins" as *;
@use "../../sass/custom" as *;

.ProjectsPage {
	@include fill_container;

	&_list {
		width: 100%;
		max-width: 80rem;
		display: block;
		margin: 0 auto;
	}
}
