@use "../../sass/variables" as *;
@use "../../sass/mixins" as *;
@use "../../sass/custom" as *;

@use "../../sass/variables" as *;
@use "../../sass/mixins" as *;
@use "../../sass/custom" as *;

$basePadding: var(--pagePadding);
// top/bottom & left/right (sides)
$topPadding: var(--projectPaddingTop);
$sidePadding: var(--projectPaddingSides);

$maxPageWidth: min(100%, var(--pageWidth));

.ProjectPage {
	@include fill_container;
	max-width: $maxPageWidth;
	display: block;
	margin: 0 auto;
	padding-top: var(--pagePadding);
}

@media only screen and (max-width: 900px) {
	.ProjectPage {
		padding: $topPadding $basePadding;
	}
}
@media only screen and (max-width: 750px) {
	.ProjectPage {
		padding: $topPadding 1rem;
	}
}
